<section class = login >

<h3>Ingrese sus datos</h3>

<form action = '@Url.Action("saveLogIn", "Account")' method = "POST">
  Ingrese su username:<input type="text" name="username" /><br/>
  Ingrese su contraseña:<input type="password" name="password" /><br/>
  <input type="submit" value="Enviar"><br/>
</form>

<a href='@Url.Action("signIn", "Account")'> ¿NO TIENES CUENTA? TOQUE AQUI </a>
@if(ViewBag.message != ""){
  <h2>@ViewBag.message</h2>
}
</section>

