<form action = '@Url.Action("saveSignIn", "Account")' method = "POST">
    <input type="string" name="name" placeholder="Ingrese su nombre"/><br/>
    <input type="string" name="surname" placeholder="Ingrese su apellido"/><br/>
    <input type="string" name="username" placeholder="Ingrese su userName"/><br/>
    <input type="string" name="password" placeholder="Ingrese su contraseña"/><br/>
    <input type="JPG" name = "Photo" placeholder
    <input type="image" name="photo" placeholder="jpg">
</form>

<a href='@Url.Action("LogIn", "Account")'> ¿Ya tienes cuenta?  </a>