<section class = signin>

<h3>Ingrese sus datos</h3>
<form action = asp-action = "saveSignIn" asp-controller="Account" method = "POST">
  Ingrese su nombre:<input type="text" name="nombre" /><br/>
  Ingrese su apellido:<input type="text" name="apellido" /><br/>
  Ingrese su username:<input type="text" name="username"/><br/>
  Ingrese su contraseña: <input type="password" name="password" /><br/>
  Ingrese su foto:<input type="text" name="foto" ><br/>
  <input type="submit" value = "Enviar" placeholder = "Enviar" ><br/>
</form>

<a href='@Url.Action("LogIn", "Account")'> ¿YA TIENES CUENTA? TOQUE AQUI</a>
@if(ViewBag.message != ""){
  <h2>@ViewBag.message</h2>
}
</section>