@{
    ViewData["Title"] = "Index";
}
<section class = index >
<div>
    <h1>Bienvenido/a a tu lista de tareas</h1>
</div>

<a href='@Url.Action("logIn", "Account")'> INICIAR SESION </a>

<a href='@Url.Action("signIn", "Account")'> REGISTRARSE </a>
</section>


