<section class = ModifyTareaTit>

<h3>Ingrese el titulo actual de la tarea que quiere modificar</h3> 
<form action = '@Url.Action("endEditTareaTit", "Home")' method = "POST">
  <input type="text" name="titulo" placeholder = "Ingresar titulo"/><br/>
  <input type="submit" value="Enviar"><br/>
</form>

@if(ViewBag.message != ""){
  <h2>@ViewBag.message</h2>
}
<a href='@Url.Action("IndexOpciones", "Home")'> Inicio </a>  
</section>
