<section class = ModifyTarea>

<h3>Ingrese nuevos datos para su tarea</h3>
@if(ViewBag.message != ""){
  <h2>@ViewBag.message</h2>
}
<form action = '@Url.Action("endEditTarea", "Home")' method = "POST">
    <input type="text" name="titulo" placeholder="@ViewBag.tareaa.Titulo"/><br/>
    <input type="textArea" name="descripcion" placeholder="@ViewBag.tareaa.descripcion"/><br/>
    <input type="submit" value="Mandar">
</form>
</section>