<section class = ModifyTareaTit>
@if(ViewBag.message != ""){
  <h2>@ViewBag.message</h2>
}
<h3>Ingrese el titulo actual de la tarea que quiere modificar</h3> 
<form action = '@Url.Action("endEditTareaTit", "Home")' method = "POST">
  <input type="text" name="titulo" /><br/>
  <input type="submit" value="Enviar"><br/>
</form>
</section>
