<section class = newtarea >

<h3>Ingrese su nueva tarea</h3>
<form action = '@Url.Action("", "Home")' method = "POST">
    <input type="string" name="title" placeholder="Ingrese el titulo de la nueva tarea"/><br/>
    <input type="textArea" name="password" placeholder="Ingrese una descripcion"/><br/>
    <input type="submit" value="Mandar">
</form>

<a href='@Url.Action("", "Home")'> ¿No tienes cuenta?  </a>

</section>