<section class = newtarea >

<h3>Ingrese su nueva tarea</h3>
<form action = '@Url.Action("saveNewTarea", "Home")' method = "POST">
    <input type="text" name="titulo" placeholder="Ingrese titulo de nueva tarea"/><br/>
    <input type="textArea" name="descripcion" placeholder="Ingrese una descripcion"/><br/>
    <input type="date" name="fecha" placeholder="Ingrese una fecha (DD/MM/AA)"/><br/>
    <input type="submit" value="Mandar">
</form>

<a href='@Url.Action("showTareas", "Home")'> Inicio </a>  

</section>